.ghboth{
    background: url("img/sort_both.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    background-position:0px;
}
.ghasc{
    background: url("img/sort_asc.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    background-position:0px;
}
.ghdesc{
    background: url("img/sort_desc.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    background-position:0px;
}
.ngtemplate-number{
    text-align: right;
}
.ngtemplate-percentage{
    text-align: right;
}
.ngtemplate-date{
    text-align: center;
}
.ui-grid-column-menu-button {
    position: absolute;
    right: 1px;
    top: 0;
}

.animate-repeat {
    line-height:40px;
    list-style:none;
    box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.3s;
    transition:all linear 0.3s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;

}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
   ;
}