<div class="row">
    <div class="col-md-12">


        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th style="cursor: pointer" ng-show="c.view"
                    ng-repeat="c in ordered_columns"
                    ng-class="{'ghboth':ghfiltername!=c.id,'ghdesc':ghfiltername==c.id && ghrev,'ghasc':ghfiltername==c.id && !ghrev}">
                    <div style="position:relative">
                        <div ns-popover class="ui-grid-column-menu-button"
                             ns-popover-template="popover-data-table.html"
                             ns-popover-trigger="click"
                             ns-popover-placement="bottom" ns-popover-theme="ns-popover-tooltip-theme"><span
                                class="caret"></span>

                        </div>
                    </div>
                    <p ng-click="ghOrder(c.id)" style="margin-left: 8px"> {{ c.name|capitalize }}</p>

                </th>
            </tr>
            <tbody>
            <tr ng-repeat="d in data">
                <td ng-repeat="c in ordered_columns" ng-show="c.view">
                    <p class="{{c.class}}">{{ d[c.id] }} <i ng-show="c.class=='ngtemplate-percentage'">%</i></p>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>